header{
    color: darkblue;
    text-align: center;
    font-size: 70;
}

div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

img{
    border-radius: 7%;
    height: 200px;
    width: 300px; 
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}